<script src="js/responsivetabs.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
<script src="js/player.js"></script>
<footer class="footer">
	<div class="footer__inner">
		<div class="footer__top">
			<div class="footer__top-left">
				<a href="#" class="footer__logo"><img src="svg/footer-logo.svg" alt=""></a>
				<div class="footer__address">47, Kuk-su street, Eski shahar MYF, Olmazor area, Tashkent city</div>
				<a href="tel: +998 (71) 230 7040" class="footer__phone">+998 (71) 230 7040</a>
				<a href="mailto: info@ajva-tour.uz" class="footer__email">info@ajva-tour.uz</a>
			</div>
			<div class="footer__top-center">
				<div class="footer__menu">
					<div class="footer__menu-title">Useful Links</div>
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Tours</a></li>
						<li><a href="#">Visa / Insurance</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
				</div>
				<div class="social_block">
					<div class="social_block__title">Follow us</div>
					<div class="social_block__items-wrap">
						<a href="#"><img src="svg/instagram.svg" alt=""></a>
						<a href="#"><img src="svg/twitter.svg" alt=""></a>
						<a href="#"><img src="svg/telegram.svg" alt=""></a>
						<a href="#"><img src="svg/youtube.svg" alt=""></a>
						<a href="#"><img src="svg/mail.svg" alt=""></a>
						<a href="#"><img src="svg/facebook.svg" alt=""></a>
					</div>	
				</div>
			</div>
			<div class="footer__top-right">
				<div class="payments_block">
					<div class="payments_block__title">Payments</div>
					<div class="payments_block__items-wrap">
						<a href="#"><img src="img/payme.png" alt=""></a>
						<a href="#"><img src="img/click.png" alt=""></a>
						<a href="#"><img src="img/uzcard.png" alt=""></a>
						<a href="#"><img src="img/humo.png" alt=""></a>
						<a href="#"><img src="img/apelsin.png" alt=""></a>
						<a href="#"><img src="img/paynet.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="copy_block">“AJWA DATES” LLC <br>License number: 9982741 <br>2011 – 2024</div>
			<div class="policy_block">© All rights reserved • <a href="#">Privacy Policy</a> • <a href="#">Terms of Conditions</a></div>
		</div>
	</div>
</footer>
</body>
</html>