<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тайтл</title>
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <button class="menu-burger"></button>
        <div class="menu-top-wrapper menu-mobile-wr">
            <div class="mobile-menu-in">
                <div class="close-menu"></div>
                <div class="menu-overflow">
                    <ul class="header__menu">
                        <li><a href="#">Umrah 2024</a></li>
                        <li><a href="#">Why us</a></li>
                        <li><a href="#">Statistics</a></li>
                        <li><a href="#">Popular tours</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Tours</a></li>
                        <li><a href="#">Visa / Insurance</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                    <a href="tel:+998 55 506-6660" class="header__phone">+998 55 506-6660</a>
                </div>
            </div>
        </div>
        <div class="header__logo">
            <a href="#"><img src="svg/logo.svg" alt=""></a>
        </div>
        <ul class="header__menu">
            <li><a href="#">Umrah 2024</a></li>
            <li><a href="#">Why us</a></li>
            <li><a href="#">Statistics</a></li>
            <li><a href="#">Popular tours</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
        <div class="header__lang">
            <div class="header__lang-title">
                <img src="svg/globe.svg" alt="">
                <span>Eng</span>
            </div>
            <div class="header__lang__body">
                <a href="#">Eng</a>
                <a href="#">Ru</a>
            </div>
        </div>
        <div class="header__phone">
            <a href="tel: +998 55 506-6660">+998 55 506-6660</a>
        </div>
    </header>