include _header.jade
<div class="why_us_block">
	<div class="why_us_block__items-wrap">
		<a href="#" class="why_us_block__item" style="background-image: url('img/why1.png')">
			<span class="why_us_block__item-title">Why us ?</span>
			<span class="why_us_block__item-desc">We specialize in organizing pilgrimage trips, providing a personalized approach and<br> convenient conditions. Reliable partners and attention to detail guarantee a<br> comfortable and high-quality pilgrimage with round-the-clock support</span>
		</a>
		<a href="#" class="why_us_block__item" style="background-image: url('img/why2.png')">
			<span class="why_us_block__item-title">Europe</span>
			<span class="why_us_block__item-desc">Great tourist services for trips across Europe: from hotel<br> bookings to transfers. Let us make your journey<br>comfortable and unforgettable</span>
		</a>
		<a href="#" class="why_us_block__item" style="background-image: url('img/why3.png')">
			<span class="why_us_block__item-title">Asia</span>
			<span class="why_us_block__item-desc">Discover Asia with our travel services: unique tours, transfers and comfortable accommodation to make your trip unforgettable</span>
		</a>
		<a href="#" class="why_us_block__item" style="background-image: url('img/why4.png')">
			<span class="why_us_block__item-title">Arab countries</span>
			<span class="why_us_block__item-desc">Take a trip to Arab countries with our travel services. Here you will find a selection of unique tours, comfortable transfers and accommodation to make every moment of your trip unique</span>
		</a>
		<a href="#" class="why_us_block__item" style="background-image: url('img/why5.png')">
			<span class="why_us_block__item-title">Local flights</span>
			<span class="why_us_block__item-desc">We offer you unique local tours in Uzbekistan with our travel services. Enjoy a unique experience discovering the secrets and beauty of this picturesque country</span>
		</a>
		<a href="#" class="why_us_block__item" style="background-image: url('img/why6.png')">
			<span class="why_us_block__item-title">Special offer</span>
			<span class="why_us_block__item-desc">Ajva Tour excels in delivering premier tourist services tailored for Umrah (Hajj), standing out with its rich<Br> expertise, personalized approach, and steadfast commitment to reliable partnerships. Clients benefit from<br> comfortable transportation and accommodation options, meticulous attention to details and documents,<br> adherence to ethical principles, and the assurance of round-the-clock support</span>
		</a>
	</div>
</div>
<div class="our_achievements">
	<div class="our_achievements__items-wrap">
		<div class="our_achievements__item">
			<div class="our_achievements__item-icon"><img src="svg/achievement.svg" alt=""></div>
			<div class="our_achievements__item-title">Expertise in <br>Pilgrimage Trips:</div>
			<div class="our_achievements__item-desc">We have rich experience and high qualifications in organizing pilgrimage trips, providing our clients with professional guidance at every stage of Umrah (Hajj).</div>
		</div>
		<div class="our_achievements__item">
			<div class="our_achievements__item-icon"><img src="svg/achievement2.svg" alt=""></div>
			<div class="our_achievements__item-title">Attention to Details and Documents:</div>
			<div class="our_achievements__item-desc">We actively pay attention to details, including the preparation of necessary documents, allowing clients to focus on their spiritual journey, minimizing stress.</div>
		</div>
		<div class="our_achievements__item">
			<div class="our_achievements__item-icon"><img src="svg/achievement3.svg" alt=""></div>
			<div class="our_achievements__item-title">Personalized Approach:</div>
			<div class="our_achievements__item-desc">We stand out with an individualized approach, taking into account the unique needs of each client in the planning and execution of Umrah.</div>
		</div>
		<div class="our_achievements__item">
			<div class="our_achievements__item-icon"><img src="svg/heart.svg" alt=""></div>
			<div class="our_achievements__item-title">Adherence to Ethical Principles:</div>
			<div class="our_achievements__item-desc">We distinguish ourselves by adhering to high ethical standards in organizing Umrah (Hajj), emphasizing our commitment to providing services of a high standard.</div>
		</div>
	</div>
</div>
<div class="licenses_block">
	<div class="licenses_block__inner">
		<div class="licenses_block__header">Licenses</div>
		<div class="licenses_block__items-wrap">
			<a href="#" class="licenses_block__item">
				<img src="img/license1.png" alt="">
			</a>
			<a href="#" class="licenses_block__item">
				<img src="img/license2.png" alt="">
			</a>
			<a href="#" class="licenses_block__item">
				<img src="img/license3.png" alt="">
			</a>
		</div>
	</div>
</div>
include _footer.jade